:root {
    --bg-col-main:  #2b282f;
    --bg-col-secn:  #1b191d;
    --nav-bg-col:   #313236;
    --text-col-main:#fff;
    --text-col-secn:#32dceb;
    --highlight-col:#ff32a1;
    --nav-hover-col: #303138;
    --fix-border-radius: 2rem;
    --svg-size: 3.8rem;
    --trans-delay-tameplate: 200ms;
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(10px);
    translate: -10%;
}
@media(prefers-reduced-motion){
    .hidden {transition: none;}
}
.show {
    opacity: 1;
    filter: blur(0);
    translate: 0;
}

@mixin Sect($hei:100vh) {
    background: var(--bg-col-secn);
    height: $hei;
    padding: 5rem;
    p {font-size: 22px;}
}

//#region [Main Parts]
body {
    font-family: 'open sans';
    background-color: var(--bg-col-main);
    font-size: 18px;
    color: var(--text-col-main);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
main {translate: 0 10vh;}
a {color: var(--highlight-col);}

//#endregion
//#region [Scroll bar]
::-webkit-scrollbar {background: var(--bg-col-secn);}
::-webkit-scrollbar-thumb {
    background: var(--bg-col-main);
    border-radius: 22px;
    transition: var(--trans-delay-tameplate);
    &:hover {background: var(--highlight-col);}
}
//#endregion
//#region [Navbar]
.navbar {
    background: var(--nav-bg-col);
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    height: 100px;
    text-align: center;
    cursor: pointer;
    transition: var(--trans-delay-tameplate);
    font-size: 14px;
    svg {
        scale: 1.3;
        margin-bottom: 8px;
        transition: var(--trans-delay-tameplate);
    }
    a {
        color: var(--text-col-main);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-decoration: none;
        margin-top: 5px;
        transition: var(--trans-delay-tameplate);
        &:hover {
            color: var(--highlight-col);
        }
    }
    &:hover {
        background: var(--nav-hover-col);
        svg {scale: 1.8; color: var(--highlight-col);}
        a {color: var(--highlight-col);}
    }
}
// Nav Theme
.theme-tab {
    position: absolute;
    width: 350px;
    height: 100px;
    background-color: var(--nav-hover-col);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: var(--trans-delay-tameplate);
    z-index: -1000;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    div {
        width: 70px;
        height: 70px;
        border-radius: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--trans-delay-tameplate);
        &:hover {
            width: 90px;
            height: 90px;
        }
    }
}

#themes-button.opened .theme-tab {translate: 14rem;}

#theme-dark {background: linear-gradient(#000, #111);color: #fff;}
#theme-ligth {background: linear-gradient(#fff, #aaa);color: #000;}
#theme-purple {background: linear-gradient(#407, #508);color: #fff;}

//#endregion
//#region [landing]
.landing-sect {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-content h1 {
    font-size: 8rem;
    position: relative;
    animation: titleGetUp 1s .5s backwards;
}
@keyframes titleGetUp{
    from {
        opacity: 0;
        filter: blur(20px);
    }
}

//#region [Shapes]
@mixin shapeProp {
    position: absolute;   
}
.sqr {
    @include shapeProp();
    width: 250px;
    height: 250px;
    border-radius: 42px;
    left: 20rem;
    &:nth-child(1){
        translate: 1rem;
    }
    &:nth-child(2){
        left: 40rem;
        rotate: 45deg;
    }
    &:nth-child(3) {
        left: 40rem;
        rotate: 45deg;
    }
}
.crl{
    @include shapeProp();
    width: 440px;
    height: 140px;
    border-radius: 999px;
    right: 36rem;
    top: 19rem;
    rotate: 35deg;
}
.bal{
    @include shapeProp();
    width: 250px;
    height: 250px;
    border-radius: 999px;
    right: 22rem;
    transition: 1s;
}

.blue {
    background: var(--text-col-secn);
    color: var(--text-col-secn);
    translate: 0 10px;
    animation: yFall 1.5s backwards ease-in-out;
}
.pink {
    background: var(--highlight-col);
    color: var(--highlight-col);
    animation: yClimb 1.5s backwards ease-in-out;
}
.extend {width: 1250px;}

@keyframes yFall {
    from {translate: 0 -10rem;}
}
@keyframes yClimb {
    from {translate: 0 10rem;}
}

//#endregion

.arrows-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    justify-self: center;
    color: var(--highlight-col);
    animation: GetUp 1s .8s backwards;
    svg {animation: ArrowLoop 1s infinite cubic-bezier(0.5, 0.03, 0.55, 0.92);}
}
@keyframes GetUp{
    from {
        opacity: 0;
        filter: blur(20px);
        translate: 0 -70px;
    }
}
@keyframes ArrowLoop {
    50% {translate: 0 15px;}
    100% {translate: 0 0px;}
}

//#endregion
//#region [About me]
.about-sect {
    @include Sect();
    height: 80vh;
    display: grid;
    grid-template-columns: 40vw 1fr;
}
.about-exaple {
    img {
        width: 50vw;
        transition: var(--trans-delay-tameplate);
        &:hover {scale: 1.1;}
    }
}
@keyframes OpacityEnter {to {opacity: 1;}}
.landing-link {
    text-decoration: none;
    transition: var(--trans-delay-tameplate);
    &:hover {color: var(--text-col-secn);}
}

//#endregion
//#region [Skill]
.skill-sect {
    @include Sect();
    h2 {text-align: center;}
    .hab-selector {
        display: grid;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .hab-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-self: center;
        translate: -25px;
        &::before {
            content: 'Clique nos botões abaixo';
            position: absolute;
            width: 90%;
            color: #fff4;
            text-align: center;
            top: -2rem;
        }
    }
    button {
        font-family: 'Quicksand';
        background: #0000;
        font-size: 42px;
        width: 450px;
        border-radius: 100px;
        color: var(--text-col-secn);
        border: 2px solid var(--text-col-secn);
        transition: var(--trans-delay-tameplate);
        &:hover {
            background-color: var(--highlight-col);
            border: 2px solid var(--highlight-col);
            color: var(--bg-col-secn);
            cursor: pointer;
        }
    }
    .hab-display {
        border: 2px solid var(--nav-bg-col);
        padding: 20px;
        border-radius: 22px;
    }

    h3 {
        font-family: 'Quicksand', sans-serif;;
        color: var(--highlight-col);
    }
}

//#endregion
//#region [Projects]
.project-sect {
    @include Sect();
    padding: 40px;
    display: flex;
    justify-content: center;
    h2 {text-align: center;}
}

.projects-list {
    display: flex;
    text-align: center;
}

.project {
    border-radius: 22px;
    background: var(--bg-col-main);
    overflow: hidden;
    width: 500px;
    height: 340px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border-left: 2px solid var(--highlight-col);
    border-top: 2px solid var(--highlight-col);
    font-size: 20px;
    text-align: center;
    a {
        color: var(--text-col-main);
        text-decoration: none;
        cursor: pointer;
        font-size: 32px;
    }
    img {width: 500px;transition: var(--trans-delay-tameplate);}
    &:hover {
        background: var(--highlight-col);
        img {filter: brightness(0.3);}
        .project-image {opacity: 1;}
    }
}

.project-image {
    position: absolute;
    top: 0;
    background-color: var(--bg-col-main);
    opacity: 0;
    transition: var(--trans-delay-tameplate);
    padding: 25px;
    span::after {
        content: '[Link no titulo abaixo]';
        font-size: 15px;
        font-weight: 600;
        color: var(--text-col-main);
    }
}

#view-more-projects {
    opacity: 0.3;
    height: fit-content;
    &:hover {opacity: 0.8; cursor: pointer;}
    font-size: 30px;
    margin-bottom: 15px;
    transition: var(--trans-delay-tameplate);
}
.animation {
    animation: ent var(--trans-delay-tameplate);
}
@keyframes ent {
    from {opacity: 0; translate: 0 -20px;}
}
.projects-view-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-col-secn);
}
.more {display: flex;}
.projects-list-grid {
    display: grid;
}

//#endregion
.footer {
    @include Sect(10vh);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-col-main);
    span {opacity: 0.4; a {color: var(--text-col-main);}}
}

.landing-shape {
    filter: drop-shadow(0 0 8px );
}

//Small Screen
@media only screen and (max-width: 600px) {
    .about-sect {
        padding: 12px;
        grid-template-columns: 6fr;
        p {
            font-size: 18px;
            width: 90vw;
        }
        img {width: 95vw;}
    }
    .skill-sect {
        h2 {font-size: 30px;}
        h3 {font-size: 25px;}
        span {font-size: 16px;}
        button:hover {border-radius: 10px;}
    }
    .hab-item button {font-size: 30px; width: 340px;}
    .hab-section {height: 70vh;}
    .hab-selector {grid-template-rows: 1fr 2fr;}
    .hab-display {
        height: 400px;
        width: 300px;
        justify-self: center;
    }
    .landing-sect {
        h1 {
            font-size: 70px;
            text-align: center;
            left: -15vw;
            top: 3rem;
        }
    }
    .projects-list {flex-direction: column;}
    .main-content h1 {translate: 57px -70px;}
    .project-sect {
        height: 85vh;
        h2 {
            display: block;
            text-align: center;
        }
    }
    h2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 40px;
        color: var(--highlight-col);
    }
    .projects-list-grid {
        grid-template-columns: 1fr;
        justify-self: center;
    }
    .project {scale: 0.7; margin-top: -3rem;}

    #view-more-projects {
        margin-top: 18rem;    
    }

    .more-coming {
        justify-self: center;
        align-self: center;
        font-size: 40px;
        opacity: 0.5;
        transition: var(--trans-delay-tameplate);
        filter: drop-shadow(0 0 10px --text-col-main);
        &:hover{opacity: 1;}
    }
    .navbar {bottom: 0; height: 95px; width: 100vw; background: #21212170}; .nav-item{font-size: 12px; span {display: none;}}
    .theme-tab {translate: -13.2rem -6.5rem;}
    #themes-button.opened .theme-tab {translate: -34rem -6.5rem;}
}
//Big Screen
@media only screen and (min-width: 600px) {
    .navbar {
        width: 100px;
        height: 100%;
        transition: var(--trans-delay-tameplate);
        opacity: 0.2;
        translate: -40px;
        &:hover {
            opacity: 1;
            translate: 0;
        }
    }
    .nav-list {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .nav-item:last-of-type {margin-top: auto;}
    .theme-tab {translate: -14rem}
    #themes-button.opened .theme-tab {translate: 14rem;}
    h2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 70px;
        color: var(--highlight-col);
    }
    .hab-selector {grid-template-columns: 1fr 2fr;}
    .skill-sect {
        height: 60vh;
        button:hover {
            translate: 30px 0;
        }
    }
    .about-sect {height: 60vh;}
    .main-content h1 {translate: -30px -70px;}
    .project-sect {height: 55vh;}
    .projects-list {gap: 40px;}
    .projects-list-grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
}
}